@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  canvasChurchOrange = #D55A1E or rgb(213,90,30)
  canvasChurchBlue = #4DB1CC or rgb(77,177,204)
  canvasChurchGray = #5A707A or rgb(90,112,122)
*/

/* roboto - for standard text */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* caveat - for titles/emphasis */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    /* @apply font-[HelveticaNeue]; */
    /* background-color: #5A707A; /* TODO: change this when done */
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
